.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 55px;
  color: white;
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header2{
	text-align:center;
	margin : auto;
	width: 1044px;
}

body{
	background: #ebeef1;
}

.container{
	text-align: center;
}
.content{
	margin:auto;
	margin-top : 100px;
	width: 1044px;
	height: 868px;
	background: ebeef1;
}
.content2{
	margin:auto;
	margin-top : 100px;
	width: 1044px;
	height: 768px;
	background: ebeef1;
}

.contentL{
	float : left;
}
.search{
	padding: 1rem;
	width : 719px;
	height: 113px;
	background: white;
}
.search2{
	padding: 1rem;
	width : 719px;
	height: 63px;
	background: white;
}
.search-cate{
	font-size: 23px;
}
.list{
	margin-top : 25px;
	width : 719px;
	height: 730px;
	background: white;
}
.profile{
	float : right;
	height: 480px;
	width : 300px;
	background: white;
}
.profile-top{
	padding: 1rem;
	border-bottom: 1px solid #ebeef1;
}
.profile-mid{
	text-align:left;
	padding: 1rem;
	border-bottom: 1px solid #ebeef1;
}
.profile-bottom{
	text-align:left;
	padding: 1rem;
}
.ul-title{
	color: #7b858e;
}
.list-card{
	position: static;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	text-align: left;
	color: black;
}
a{
	text-decoration-line: none;
}
.pagination {	
   justify-content: center;
}
.content-read{
	width : 719px;
	height: 770px;
	background: white;
}
.content-header{
	text-align: left;
	padding: 1rem;
	border-bottom: 1px solid #ebeef1;
}
.content-mid{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	width : 719px;
	height: 600px;
	padding: 1rem;
	border-bottom: 1px solid #ebeef1;
}
.content-bottom{
	padding: 1rem;
}
.write{
	width : 719px;
	height: 770px;
	padding: 2rem;
	background: white;
}
textarea{
	height:413px; 
    resize:none;
}
.login{
	padding: 1% 3%;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px; height: 450px;
	margin-left: -220px;
	margin-top: -390px;
	text-align: center;
}
.join{
	text-align: left;
}
.list-group-item {
    position: inherit;
    border: 0;
}
.card {
    position: inherit;
}

element.style {
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-link {
    padding: .375rem .75rem;
}
.page-link {
    position: inherit;
}
.id-title{
	margin-top: 7px;
	margin-bottom: 18px;
}